<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pocketmoney.loan.dao.LoanDAO">
	<select id="selectLoanList" resultType="com.pocketmoney.loan.entity.LoanEntity">
		select *
		from loanDB.Loan;
	</select>
</mapper> 