<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pocketmoney.loan.dao.LoanDAO">
	<select id="selectLoanList" parameterType="int" resultType="com.pocketmoney.loan.entity.LoanEntity">
		SELECT *
		FROM loanDB.Loan
		WHERE status = #{status}
		ORDER BY id DESC
	</select>
	
	<select id="selectLoan" parameterType="int" resultType="com.pocketmoney.loan.entity.LoanEntity">
		SELECT *
		FROM loanDB.Loan
		WHERE id = #{id}
	</select>
	
	<insert id="insertLoan" parameterType="com.pocketmoney.loan.entity.LoanEntity">
		INSERT INTO loanDB.Loan(
			reason,
			price,
			totalPrice,
			remainPrice,
			interestRate,
			monthlyRepaymentPrice,
			period,
			startDate,
			endDate,
			repaymentCnt,
			status,
			rejectReason,
			childId
		)
		VALUES(
			#{reason},
			#{price},
			#{totalPrice},
			#{remainPrice},
			#{interestRate},
			#{monthlyRepaymentPrice},
			#{period},
			#{startDate},
			#{endDate},
			#{repaymentCnt},
			#{status},
			#{rejectReason},
			#{childId}
		)
	</insert>
	
	<update id="updateLoan" parameterType="com.pocketmoney.loan.entity.LoanEntity">
		UPDATE loanDB.Loan set
			reason = #{reason},
			price = #{price},
			totalPrice = #{totalPrice},
			remainPrice = #{remainPrice},
			interestRate = #{interestRate},
			monthlyRepaymentPrice = #{monthlyRepaymentPrice},
			period = #{period},
			startDate = #{startDate},
			endDate = #{endDate},
			repaymentCnt = #{repaymentCnt},
			status = #{status},
			rejectReason = #{rejectReason},
			childId = #{childId}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteLoan" parameterType="int">
		DELETE FROM loanDB.Loan
		WHERE id = #{id} 
	</delete>
	
</mapper> 